/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Fonts---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Family: Lato, Lobster, Merienda, Overlock, Source Code Pro*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Merienda&family=Overlock+SC&family=Source+Code+Pro&display=swap');

body {
    margin:0; 
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Hero Image - front page-----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Start: Banner image settings*/
.hero {
	/*take up most of page*/
	width: 100vw;
	height: 100vh; 

	display: flex;
	justify-content: center;
	align-items: center; /*use flexbox to align image*/

	position: relative; /* Position and center the image to scale nicely on all screens, v.s. absolute*/
	background-image: url(hero_cover0.png); /* removed linear gradient linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(hero_cover0.png);*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	background-attachment: fixed;

	text-align: center;

	/*filter: brightness(60%); /* Or use "linear-gradient" for dark effect on the image*/
}

/* Place text in the middle of the image */
/*.hero-content{
	position: relative; 
	font-family: 'Merienda', cursive;
	color: black;
	text-align: centre;
	margin: 0.625rem;
}*/

.hero-title {
	font-size: 5em;
	font-family: 'Merienda', cursive;
	font-weight: 600;
	margin-bottom: 0.5em;
	background: #FFFFFF1A;
}

.hero-subtitle {
	font-size: 2em;
	font-family: 'Overlock SC', cursive;
	font-weight: 200;
	margin-bottom: 0.5em;
	background: #FFFFFF1A;
}

.hero-button{
	display: block;
	width: 5em;

	padding: 1em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto; /*centred button*/

	/*text*/
	color: black; 
	font-family: 'Merienda', cursive;
	font-size: 1.5em;
	background: #FFFFFF;

	/*border*/
	border: 3px solid white;
	/*rounded button*/  
	border-radius: 20px;
  
}

/*change background color of button when cursor hovers over it*/
.hero-button:hover{
	background-color: black;
	border: 3px solid black;
	color: white;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Header----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.header-site{
    margin: 0em 0em 1em 0em; 
    background-color: #aee8f8;
    border-top: 1px solid #d5d5d5;
    /*top padding = 25px, right and left = 50px, bottom = 25px*/
    padding: 10px;
}

.header-site h1{
    margin: 2.5rem;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 5vw;
    color:white;
}

.header-site h1 a{
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    font-family: 'Merienda', cursive;
    font-size:50px;
    color:white;
}

nav{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100vw;
    position: fixed;
    background:rgba(255,255,255,0.7);
    text-align:center;
}

nav ul{
    margin-left: 0;
    margin-top: 1rem;
    list-style: none;
    text-align:center;
    text-indent: -1em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0px;
    list-style: none;
}

nav ul li{    
    text-align: center;
    text-indent: -1em;
    display: inline;
    margin-right: 20px;
    
    font-family: 'Overlock SC', cursive;
    font-size:20px;    
    font-weight: bold;
    text-transform:uppercase;
    color:#383838;
}

nav ul li:hover{
    color: rgba(71,153,182,1);
}

nav ul li a{
    color:#383838;
    text-decoration:none;
}

nav ul li a:hover{
    color: rgba(71,153,182,1);
    text-decoration:none;
}

nav ul li a:active{
    color: rgba(71,153,182,1);
    text-decoration:none;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Post Index----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
ul.posts { 
    margin: 0 0 0; 
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0px;
    
    font-size: 1.5em;
    font-family: 'Merienda', cursive;
}

ul.posts li:nth-child(even) {
    margin: 0 0 0;
    text-indent: -1em;
    display:block;
    padding: 25px 50px 25px;
    text-align: center;
    list-style: none;
    background:rgba(129,199,217,0.9);
    color:#DEF5FA;
}

ul.posts li:nth-child(odd){
    margin: 0 0 0;
    text-indent: -1em;
    display:block;
    padding: 25px 50px 25px;
    text-align: center;
    list-style: none;
    background:rgba(34,122,144,0.9);
    color:#DEF5FA;
}

ul.posts li:hover {
    display:block;
    text-align: center;
    list-style: none;
    background:#165160;
    color:#DEF5FA;
}

ul.posts li a{
    font-family: 'Merienda', cursive;
    font-size 30px;
    color:#DEF5FA;
}

ul.posts li a:hover{
    background:#165160;
    color:#DEF5FA;
}

ul.posts li h0{
    font-size: 15px;
    font-family: 'Overlock SC', cursive;
    color:#DEF5FA;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Post Content----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.rabbitComment{
	max-width: 80vw;
	margin: auto;
	padding: 25px 50px 25px;
	background-color: rgba(0,0,0,0);
	font-size: 1.2em;
	font-family: 'Source Code Pro', monospace;

	display: block;
	justify-content: center;
	align-items: center;
	box-shadow:	0 2px 7px rgba(0, 0, 0, .4), 0 1px 2px rgba(0, 0, 0, .3);
}

.rabbitComment img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    object-fit: cover;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rabbitComment p{
    display: block;
    text-align: center;
    padding: 10px 10px 10px;
    position: relative;
    background-color: white;
    
    border-radius: 8px;
}

/* Speech triangle pointed down, towards the right */
.rabbitIntro{
    max-width: 80vw;
    padding: 25px 50px 25px;
    background-color: rgba(0,0,0,0);
    font-size: 1.2em;
    
    font-family: 'Source Code Pro', monospace;
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.rabbitIntro p{
	display: block;
	text-align: center;
	padding: 10px 10px 10px;
	position: relative;
	background-color: white;
	border-radius: 8px;
	box-shadow:	0 2px 7px rgba(0, 0, 0, .4), 0 1px 2px rgba(0, 0, 0, .3);  
}
.rabbitIntro p:before{
	border-left: 22px solid transparent;
	border-top: 22px solid grey;
	bottom: -22px;
	content: "";
	position: absolute;
	left: 11px;
}
.rabbitIntro p:after{
	border-left: 20px solid transparent;
	border-top: 20px solid white;
	bottom: -20px;
	content: "";
	color: white;
	position: absolute;
	left: 12px;
}

/* character speaking */
.rabbitIntro img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    object-fit: cover;
    width: 20em;
    height: 25em;
    overflow:hidden;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Post Banner Image-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Banner image settings*/
.postBanner{
    width: 100vw;
    height: 75vh; 
    background-color: #464646;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  
    display: flex;
    justify-content: center;
    align-items: center; /*use flexbox to align image*/

    position: relative; /* Position and center the image to scale nicely on all screens, v.s. absolute*/
}

.postBanner img {
  object-fit: cover;
  width: 100vw;
  height: 75vh;
}

/*Banner image title*/
.postTitle{
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    background-color:rgba(255,255,255,0.7);
    
    display: flex;
    justify-content: center;
    align-items: center; /*use flexbox to align image*/
}
/*top padding = 25px, right and left = 50px, bottom = 25px*/
.postTitle h1{
    /*padding: 5vh 15vw 5vh;*/
    font-size: auto;
    font-family: 'Overlock SC', cursive;
    color: black;
}

.postTitle h0{
    /*padding: 1vh 20vw 2vh;*/
    font-size: auto;
    font-family: 'Overlock SC', cursive;
    color: black;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Tables----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Default: striped header and table content, background filled, border transparent*/
table{
	max-width: 80vw;
	background: rgba(0,0,0,0);
	color: black;
}

caption{
	background: rgba(0,0,0,0.5);
	padding: 1rem;
	font-size: 2rem;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
}

th:nth-child(even){
	background: rgba(135,147,205,0.9);
	padding: 1rem;
	font-size: 1rem;
	font-family: 'Source Code Pro', monospace;
}

th:nth-child(odd){
	background: rgba(224,225,165,0.9);
	padding: 1rem;
	font-size: 1rem;
	font-family: 'Source Code Pro', monospace;
}

tr:nth-child(even){
	background: rgba(196,202,230, 0.9);
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	font-family: 'Source Code Pro', monospace;
}

tr:nth-child(odd){
	background: rgba(233,234,192,0.9);
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	font-family: 'Source Code Pro', monospace;
}

/*Custom tables have collapsed borders:*/
/*Borders horizontal only*/
.tLinedX{
}

.tLinedX, .tLinedX th, .tLinedX td {
	border-top: 0.1rem solid;
	border-bottom: 0.1rem solid;
	border-collapse: collapse;
	border-color: #d5d5d5;
	color: black;
	text-align:center;
	font-size: 1rem;
	padding: 1rem;
	font-family: 'Source Code Pro', monospace;
}

.tLinedX th{
	background: #ebf2f1;
}

/*Borders vertical*/
.tLinedY{
}

.tLinedY, .tLinedY th, .tLinedY td {
	border-left: 0.1rem solid;
	border-right: 0.1rem solid;
	border-collapse: collapse;
	border-color: #d5d5d5;
	color: black;
	text-align:center;
	font-size: 1rem;
	padding: 1rem;
	font-family: 'Source Code Pro', monospace;
}

.tLinedXY th{
	background: #ebf2f1;
}

/*All Borders*/
.tLinedXY{
	background: rgba(0,0,0,0);
}

.tLinedXY, .tLinedXY th, .tLinedXY td {
	border: 0.1rem solid;
	border-collapse: collapse;
	border-color: #d5d5d5;
	color: black;
	text-align:center;
	font-size: 1rem;
	padding: 1rem;
	font-family: 'Source Code Pro', monospace;
}

.tLinedXY th{
	background: #ebf2f1;
}



/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Code Content----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/* Speech triangle pointed down, towards the right */
.codeComment{
	max-width: 80vw;
	display: block;
	margin: auto;
	padding: 1em 0.5em;
	justify-content: center;
	align-items: center;
	position: relative;

	background-color: #effff1;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
}

.codeComment p{
	display: block;
	padding: 2em 0.5em 1em 0.5em;
	position: relative;
	color: #333;
}

.codeComment:after{
	border-left: 20px solid transparent;
	border-top: 20px solid #aee8f8;
	bottom: -20px;
	content: "";
	color: #aee8f8;
	position: absolute;
	left: 12px;
}

.codeCode{
	max-width: 80vw;
	display: block;
	margin: auto;
	padding: 1em 0.5em;

	/*background-image: url(code_content_bckg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: grey;
}

.codeCode p{
	padding: 2em 0.5em 1em 0.5em;
	font-family: 'Lato', sans-serif;
	line-height: 1.4em;
	font-size: 1.2rem;
	color: white;
}

.codeDescription{
    padding: 10px 10px 10px;
    margin: auto 80px auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.4em;
    color: #333;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Games---------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.game-header{
    margin: 0em 0em 1em 0em; 
    background-color: white;
    border-top: 1px solid #d5d5d5;
    padding: 10px;
    max-height: fit-content;
}

.game-header h1{
    margin-top: 2.5rem;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 5vw;
    color: black;
    padding: 1em;
}

canvas{
	display: block;
	width: 100vw;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Contact Page---------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.contactPage{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px;

	background-image: url(contact_bckg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Placeholder Content---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.simple-container{
    margin:60px auto;
    width: 70%;
}

/*Formatting links:*/
a.linkbutton:link, a.linkbutton:visited {
    font-family: 'Merienda', cursive;
    color: #015249;
}
a.linkbutton:hover a.linkbutton:active {
    font-family: 'Merienda', cursive;
    color: #fff;
    background: #015249;
}

a.linkregular: link{
    font-family: 'Merienda', cursive;
    color: #015249;    
}

a.linkregular:hover{
    color: #015249;
    font-family: 'Merienda', cursive;
    text-decoration: underline;
}
a.linkregular:visited{
    text-decoration: none;
    color: #275201;    
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Defaults--------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

h1 {
    margin: auto;
    max-width: 80vw;
    padding: 2em 0.5em 1em 0.5em;
    font-family: 'Lato', sans-serif;
}

ul {
  margin: auto 80px auto;
  list-style-type: dot;
  font-family: 'Lato', sans-serif;
}

li {
  margin: auto 80px auto;
  font-family: 'Lato', sans-serif;
}

p {
    margin: auto;
    padding: 2em 0.5em 1em 0.5em;
    max-width: 80vw;
    font-family: 'Lato', sans-serif;
    line-height: 1.4em;
    color: #333;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Footer---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.footer-site {
    margin-top: auto;
    background-color: #ebf2f1;
    border-top: 1px solid #d5d5d5;
    /*top padding = 25px, right and left = 50px, bottom = 25px*/
    color: #383838;
    position: relative;
}

.footer-site ul{
    display: grid;
    margin-top: 2em;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
    text-transform:uppercase;
    color:#383838;
}

.footer-site ul li{
    display:block;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
    text-transform:uppercase;
    color: black;
}

.footer-link{
    padding-left:0;
}

.footer-link a{
    color:rgba(25,53,64,1);
    font-size: 1rem;
    font-family: 'Lobster', cursive;
    text-transform:uppercase;
    text-decoration: none;
}

.footer-link a:hover{
    color: rgba(71,153,182,1);
    text-decoration: none;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Pages Index-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Overall box*/
.detailsPages{
	margin: 0;
	padding: 25px 50px 25px;
	width: 100vw;
	position: relative;
	
	/*linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),*/

	background-image: url(writing_bckg.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: black;
}

/*Box title*/
.detailsPages h1{
	text-align: left;
	font-size: 4rem;
	font-family:'Merienda',cursive;
}

.summaryTransparent{
	outline: none;
	font-size: 2rem;
	font-family: 'Merienda', cursive;
}

/*Within the summary:*/
.detailsContent{
	padding: 25px 50px 25px;
	font-family: 'Source Code Pro', monospace;
}

.detailsContent ul{
	margin: 0;
	padding: 0;
	list-style: none;
	color: rgba(15,111,198,1);
	text-align: left;

	font-size: 2rem;
	font-family: 'Overlock SC', cursive;
	font-weight: bold;
}

.detailsContent ul a{
	display: inline;
	color:black;
	text-decoration: none;
	
	font-size: 1.7rem;
	font-family: 'Overlock SC', cursive;
}

.detailsContent ul a:hover{
	color: rgba(15,111,198,1);
}

.detailsContent p{
	font-size: 1rem;
	font-family: 'Source Code Pro', monospace;
}
