<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>                        <!--Navigation links to topics-->
	        	<li><a href="/goodies">Goodies</a></li>
        		<li><a href="/energy">Energy</a></li>
        		<li><a href="/nearby">Nearby</a></li>
            		<li><a href="/explore">Exploring</a></li>
            		<li><a href="/dwellings">Dwellings</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<p>Into the forest. In the big green forest, under the big blue sky, lived Simple Rabbit and his favorite dandelion.</p>
              <p>One day, his dandelion blew away. Simple Rabbit decides to venture out of the roots of the trees.</p>
				  </ul>
			</footer>
		</body>
	</html>
