<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<!--link to main javascript -->
			<script type="text/javascript" src="/js/main.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<header class ="header-site">
			<title>{{ page.title }}</title>
			<!--Navigation links to topics-->
			<nav>
	    			<ul>
	        			<li><a href="/">Home</a></li>                        
	        			<li><a href="/goodies">Goodies</a></li>
        				<li><a href="/energy">1052Energy</a></li>
        				<li><a href="/nearby">Nearby</a></li>
            				<li><a href="/explore">Exploring</a></li>
            				<li><a href="/dwellings">Dwellings</a></li>
	    			</ul>
			</nav>
		</header		
		<body>			
			<!-- /.container -->
			<!--<div class="container"></div>-->
			
			{{ content }}
			
			<!-- Site footer -->
			<footer class ="footer-site">
            			<ul class="footer-link">
              				<li><a href="/">Home</a></li>                        
	        	  		<li><a href="/index">Index</a></li>
        		  		<li><a href="/about">About</a></li>
        		  		<li><a href="/contact">Contact</a></li>
				</ul>
			</footer>
		</body>
	</html>
