<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<!--link to main javascript -->
			<script type="text/javascript" src="/js/main.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      
      <!-- Site footer -->
			<footer class ="footer-site">
            		<!--Navigation links to topics-->
            			<ul class="footer-link">
              				<li><a href="/goodies">Secret Kitchen</a></li>                        
	        	  		<li><a href="/index">Index</a></li>
        		  		<li><a href="/about">About</a></li>
            			</ul>
			</footer>
		</body>
	</html>
