<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="/../../css/window_icon.png">
			<!--link to main javascript -->
			<script type="text/javascript" src="/js/main.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
					<!--Navigation links to topics-->
			<nav>
	    			<ul>
	        			<li><a href="/home">Home</a></li> 
					<li><a href="/explore">Learn</a></li>
	        			<li><a href="/chat">Chat</a></li>
        				<li><a href="/play">Play</a></li>
        				<li><a href="/my-helper-scripts">Helpers</a></li>
	    			</ul>
			</nav>	
		<header class ="header-site">
			<h1><a href="/goodies">&#8801;</a></h1>
		</header>		
		<body>			
			<!-- /.container -->
			<!--<div class="container"></div>-->
			
			{{ content }}
			
			<!-- Site footer -->
			<footer class ="footer-site">
            			<ul class="footer-link">
              				<li><a href="/goodies">Secret Kitchen</a></li>                        
	        	  		<li><a href="/index">Index</a></li>
        		  		<li><a href="/about">About</a></li>
				</ul>
			</footer>
		</body>
	</html>
